html {
overflow-y: scroll;
}

*{
  box-sizing: border-box;
}

body {
  /*  */
  background-color: #FFFFFF;
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

code {
	font-size: larger;
}

pre {
	font-size: larger;
}

h3{
  margin-bottom: 5px;
}
p{
  margin-top: 5px;
}


td.reg { 
    padding: 10px;
	}



li.space {
  margin: 10px 0;
   }


.container {
  width: 982px;
  /*width: 95%;*/
  border: 1px solid #ccc;
  margin: auto;
  background-color: white;
  text-align: left;
  /*position: relative;*/
}

/*.title {*/
/*  color: white;*/
/*  background-color: white;*/
/*  font-size: 2em;*/
/*  padding: 0px;*/
/*  padding-bottom: 0px;*/
/*  border-bottom: 0px;*/
/*}*/

.title{
    position: relative;
  text-align: center;
  color: white;
/*background-color: white;*/
  font-size: 1.7em;
  padding: 0px;
  padding-bottom: 0px;
  border-bottom: 0px;
  height: 150px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 4px;
  right: 16px;
}

.subtitle {
  font-size: .4em;
  font-style: italic;
}

.options {
  float: right;
  text-align: right;
  height: .5em;
  vertical-align: top;
}

.options a {
  font-size: .5em;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.links {
  background-color: #a6a6a6;
  background-image:url('menuback.png');
  background-repeat:repeat-y;
  padding: 0;
  margin-left: 0.5em;
  line-height: 2.0;
  font-family: Arial;
}

.links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.links ul li {
  display: inline;
}

.links ul li a {
  text-decoration: none;
  color: black;
  padding: .5em;
  font-size: .8em;
}

.links ul li a:hover {
  background-color: white;
  text-decoration: underline;
}

.search {
  float: right;
  text-align: right;
  color: white;
}

.content {
  background-image:url('containback.png');
  padding: 32px;
}

.mainbar {
  background-image:url('containback.png');
  float:left;
  width: 695px;
  border-right: 1px solid #ccc;
  padding-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
}

.sidebar {
  float:left;
  text-align:center;
  width: 170px;
  padding-top: 32px;
  padding-right: 32px;
  padding-left: 32px;
}

.sidebar p {
  text-align: left;
  padding-left: 1em;
}


.footer
{
  clear:both;
  text-align: center;
  font-size: .75em;
  border-top: 1px solid #ccc;
}

.clearfooter
{
	clear:both;
}

/*img { 
    display: block; 
    border-top-left-radius: 7px; 
    border-bottom-left-radius: 7px; 
}*/

.img-radius{
    display: block; 
    border-top-left-radius: 7px; 
    border-bottom-left-radius: 7px; 
}

.zoom
{
  overflow: auto;
  width: 55em;
  height: 19em;
  margin: auto;
  padding: 0;
}

.zoom img 
{
  margin: auto;
}

.formlist
{
  list-style: none;
}

.big
{
}


div, a, li, ul
{
   /*border: 1px solid silver;*/
}

myh1{color: #003366; font-size: 2em;}
myh2{color: #003366; font-weight: bolder;}

form.cmxform fieldset {
  margin-bottom: 10px;
}
form.cmxform legend {
  padding: 0 2px;
  font-weight: bold;
}
form.cmxform label {
  display: inline-block;
  line-height: 1.8;
  vertical-align: top;
}
form.cmxform fieldset ol {
  margin: 0;
  padding: 0;
}
form.cmxform fieldset li {
  list-style: none;
  padding: 5px;
  margin: 0;
}
form.cmxform fieldset fieldset {
  border: none;
  margin: 3px 0 0;
}
form.cmxform fieldset fieldset legend {
  padding: 0 0 5px;
  font-weight: normal;
}
form.cmxform fieldset fieldset label {
  display: block;
  width: auto;
}
form.cmxform em {
  font-weight: bold;
  font-style: normal;
  color: #f00;
}
form.cmxform label {
  width: 120px; /* Width of labels */
}
form.cmxform fieldset fieldset label {
  margin-left: 123px; /* Width plus 3 (html space) */
}

ul.doublespace li {
    padding-bottom: 1ex;
}

table.program { border: none; background-color: white;}
table.program tr.pets { background-color: #E9E3F3; }
table.program tr.hotpets { background-color: #F4E4E2; }
table.program tr.speaker { background-color: #CADCCD; }

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }

ul.session li { padding-bottom: 1ex; }

.navbar {
  overflow: hidden;
  background-color: #7D82A0;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

dl, dt, dd { margin:0;}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #624f0b;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.spkeaker{
    font-size: 150%;
    color: blue;
}

.speaker i{
    font-size: 100%;
    color: gray;
}

#more {display: none;}
  

.row{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    display: table;
    width: 100%;
    border-radius: 7px;
/*    background-color: #E7E9F8;*/
}

  
  .row:after {
  content: "";
  display: table;
  clear: both
}

.column-33 {
  float: left;
  width: 25%;
  display: table;
}

.column-66 {
  float: left;
  width: 75%;
  padding-top: 20px;
  display: table;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
} 

.lm-button {
  background-color: #e7e7e7;
  color: #003366;
  cursor: pointer;
  padding: .5rem;
  border: none;
  text-align: center;
  outline: none;
  font-size: inherit;
  border-radius: 7px;
}

.collapsible-radius {
  background-color: #e7e7e7;
  color: #003366;
  cursor: pointer;
  padding: .5rem;
/*  width: 100%;*/
  border: none;
  text-align: center;
  outline: none;
  font-size: inherit;
  /*font-weight: bold;*/
/*  font-family: monospace;*/
/*  text-transform: uppercase;*/
  border-radius: 7px;
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: .5rem;
/*  width: 100%;*/
  border: none;
  text-align: center;
  outline: none;
  font-size: inherit;
  /*font-weight: bold;*/
  /*font-family: monospace;*/
  /*text-transform: uppercase;*/
/*  border-radius: 7px;*/
}

.active, .collapsible:hover {
  background-color: #555;
  
}

.active, .collapsible-radius:hover {
  background-color: #777;
  color: white;
}

.content1 {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  border-radius: 2%;
}



.prow {
  display: flex;
}

/* Create four equal columns that sits next to each other */
.pcolumn {
  flex: 20%;
  padding: 10px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  /*min-height:445px;*/
  margin: auto;
  text-align: center;
  font-family: arial;
}

.pname{
    min-height:60px;
}

.ptitle {
  color: grey;
  font-size: 18px;
  background-color: inherit;
  padding:5px;
  min-height:120px;
}

.panel{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  font-weight: bold;
  background-color: #29a2d6;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 24px;
}

.col-container {
  display: table;  
  width: 100%;  
/*  border: 1px solid;
  border-color: red;*/
  height: auto;
}

/*.scolumn {
  float: left;
  width: 20%;
  padding: 20px;
  border: 1px solid;
  display: table-cell;  Make elements inside the container behave like table cells 
}*/

.scolumn-33 {
  float: left;
  width: 20%;
/*  padding: 20px;*/
/*  border: 1px solid;
  border-color: green;*/
/*  display: table-cell;  Make elements inside the container behave like table cells */
/*  height: 100%;*/
  text-align: center;
}

.rowbreak {
   display: table;  
  width: 100%;
/*  padding: 20px;*/
/*  border: 1px solid;
  border-color: black;*/
/*  display: table-cell;  Make elements inside the container behave like table cells */
/*  height: 100%;*/
  height: 10px;
}

.rowbreak-big {
   display: table;  
  width: 100%;
/*  padding: 20px;*/
/*  border: 1px solid;
  border-color: black;*/
/*  display: table-cell;  Make elements inside the container behave like table cells */
/*  height: 100%;*/
  height: 20px;
}

.scolumn-66 {
  float: left;
  width: 80%;
  padding: 10px;
/*  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);*/
  border-radius: 7px;
/*  border: 1px solid;
  border-color: blue;*/
  background-color: #E7E9F8;
  text-align: center;
/*  display: table-cell;  Make elements inside the container behave like table cells */
/*height: 100%;*/
}


.stitle{
    color: #003366;
    font-weight: 500;
    font-size: 20px;
    padding-top: 10px;
}

.sstitle{
    color: #003366;
    font-weight: bold;
    font-size: 18px;
}
.ssstitle{
    color: #003366;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.stime{
    color: #003366;
    font-weight: 500;
    font-size: 18px;
/*    padding: 10px;*/
}

.sdate{
    color: #266DD2;
    font-weight: bold;
    font-size: 24px;
/*    padding: 10px;*/
}

hr{
        height: 1px;
        background-color: #ccc;
        border: none;
    }













/*.panel{*/
/*  border: none;*/
/*  outline: 0;*/
/*  display: inline-block;*/
/*  padding: 8px;*/
/*  color: white;*/
/*  font-weight: bold;*/
/*  background-color: #29a2d6;*/
/*  text-align: center;*/
/*  cursor: pointer;*/
/*  width: 100%;*/
/*  font-size: 24px;*/
/*}*/

/*.prow {*/
/*  display: flex;*/
/*}*/

/*.pcolumn {*/
/*  flex: 25%;*/
/*  padding: 10px;*/
/*}*/

.pcard {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  /*min-height:445px;*/
  margin: auto;
  text-align: center;
  font-family: arial;
  padding: 16px 16px 8px 16px; /*top right bottom left */
}

.cname{
    font-size: 20px;
    color:#003366;
    min-height:45px;
}

.ctitle {
  color: grey;
  font-size: 18px;
  background-color: inherit;
  /*padding:5px;*/
  min-height:60px;
}



.srow {
  display: flex;
}

.scolumn {
  flex: 33.33%;
  padding: 5px;
}
